#new-channel-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.new-channel-input {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.new-channel-input input {
  width: inherit;
}

.ch-form-field-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.ch-form-field-input .lbl {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  margin: auto 0;
  min-width: 35%;
}

.ch-form-field-input .value {
  display: flex;
  width: 100%;
  margin: auto 0;
  padding: 1rem;
  flex-direction: column;
}

.ch-type-options span,
.ch-mode-options span {
  padding: 5px 0;
}

.ch-type-options span:nth-child(1)::after {
  content: ' (only members can read and send messages)';
  color: #9b9da5;
}

.ch-type-options span:nth-child(2)::after {
  content: ' (non-members can read and send messages)';
  color: #9b9da5;
}

.ch-mode-options span:nth-child(1)::after {
  content: ' (administrators and moderators can add members)';
  color: #9b9da5;
}

.ch-mode-options span:nth-child(2)::after {
  content: ' (any member can add other members)';
  color: #9b9da5;
}
