.message {
  margin: 0 1.5rem 0.5rem 0.5rem;
}

.message-list-container {
  background-color: #f0f1f2;
  overflow-y: scroll;
  position: relative;
}

.message-list-header {
  background-color: inherit;
  text-align: center;
  padding: 0.76rem;
  margin-bottom: 1rem;
  border-bottom: 0.5px solid #d4d5d8;
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
