.channel-list-header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border-bottom: 0.5px solid #d4d5d8;
}

button.create-channel-button {
  height: 2rem;
  width: 2rem;
}

.channel-list-header-title {
  padding-left: 1rem;
}
.channel-list-header,
.channel-list-header-title {
  display: flex;
  align-items: center;
  cursor: unset;
}

li.separator {
  margin: 0.5rem 0;
}
